<div class="product-detail-page section-gap bg-white" *ngIf="detailData">
  <div class="container">
    <div fxLayout='row wrap' fxLayoutAlign="center center" class="col-gap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=90 fxFlex.lg="80" fxFlex.xl="90">
        <div fxLayout='row wrap' class="col-gap position-relative">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=50 fxFlex.lg="50" fxFlex.xl="50">
            <div fxLayout='row wrap'>
              <div fxFlex.xs="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15">
                <div class="product-detail-image-gallery pr-4">
                  <mat-grid-list cols="1" rowHeight="1:1" gutterSize="20px">
                    <mat-grid-tile *ngFor="let img of detailData?.image_gallery; let i=index">
                      <div class="product-image-gallery-item">
                        <a id="{{i}}_img" class="p-link" [ngClass]="{ 'border-active': i === 0 }" href="javascript:void(0)" (mouseenter)="getImagePath(img, i)">
                          <img [src]="img" alt="">
                        </a>
                      </div>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </div>
              <div fxFlex.xs="85" fxFlex.sm="85" fxFlex.md="85" fxFlex.lg="85" fxFlex.xl="85" class="relative" *ngIf="mainImgPath">
                <embryo-ImgZoom 
                [imgSrc]="mainImgPath" 
                    imgStyle="width:auto; height:auto; border-radius: 2%;"
                    resultStyle="background-repeat: no-repeat; z-index: 2; position:absolute;
                                   -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;"
                    lensStyle="width:100px; height:100px"
                    containerStyle="">
                </embryo-ImgZoom>
              </div>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=50 fxFlex.lg="50" fxFlex.xl="50">
            <div class="product-detail-content">
              <h3>{{detailData?.name}}</h3>
              <div class="product-detail-price">
                <h4 class="accent-color">{{totalPrice | currency:currency}} </h4>
              </div>
              <div class="short-des">
                <p style="font-size:larger;">{{detailData?.description}}</p>
                <p style="font-size:larger;">Printed on fine art archival Esatin 300gram photo paper and rated for up to 150 years, this slightly textured surface mimics mediums once popular in darkroom printing.</p>
                <ul type="square" *ngFor="let variation of detailData?.variations">
                  <li><p>{{ variation.type }} ({{ variation.size }} inches)</p></li>
                </ul>
              </div>
              <div class="mb-3 detail-btns">
                <button class="button-lg" mat-raised-button (click)="purchase(detailData?.squareup_url)">Buy Now</button>
              </div>
              <div class="short-des">
                <p>1.5 inch white matte boarder included in sizing.</p>
                <p>Prints are <b>NOT</b> framed, please have professionally framed.</p>
                <p>Pricing is accurate for US customers. please contact <i>calebolson.media@gmail.com</i> for international shipping quotes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
