<footer>
  <div class="footer-v1 section-gap">
    <div class="container">

      <div class="footer-bottom-v1">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
          <img src="assets/images/secure.png" width="120" height="50" alt="Credit Cards">
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="text-right">
          Copyright &copy; {{date | date: 'yyyy'}}, Caleb Olson Media. All Rights Reversed.
        </div>
      </div>
    </div>
  </div>
</footer>
