<mat-toolbar color="primary" class="header-v2">
   <mat-toolbar-row class="header-v2-top">
     <div class="container">
       <div fxLayout="row wrap">
         <div class="logo-site" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="35" fxFlex.lg="25%" fxFlex.xl="25%">
             <embryo-AppLogo></embryo-AppLogo>
         </div>
         <div fxFlex.sm="60" fxHide.xs="true" fxHide.sm="true" fxFlex.md="40" fxFlex.lg="60%" fxFlex.xl="60%" class="align-center"></div>
         <div fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="15%" fxFlex.xl="15%">
             <span fxFlex></span>
             <div class="list-flex user-tool">
                   <embryo-HeaderCart [currency]="embryoService?.currency" [cartProducts]="embryoService?.localStorageCartProducts" [count]="embryoService?.navbarCartCount" (removeProductData)="openConfirmationPopup($event)"></embryo-HeaderCart>
             </div>
         </div>
       </div>
     </div>
   </mat-toolbar-row>
   <mat-toolbar-row class="header-v2-bottom main-menu-wrap">
     <div class="container">
       <div class="header-v2-bottom-inner">
         <embryo-Menu></embryo-Menu>
       </div>
     </div>
   </mat-toolbar-row>
   <mat-toolbar-row [dir]="right" class="responsive-bar relative">
       <div class="container">
           <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
               <i class="material-icons">menu</i>
           </button>
           <button class="responsive-toggle" mat-icon-button [routerLink]="['/products']">
               <i class="material-icons">storefront</i>
           </button>
       </div>
   </mat-toolbar-row>
 </mat-toolbar>
 <embryo-FixedHeader></embryo-FixedHeader>
