<div [dir]="left" (scroll)="onScrollEvent($event)">
   <mat-sidenav-container>
       <mat-sidenav #sidenav [(opened)]="embryoService.sidenavOpen" class="sidebar-area" mode="over">
           <mat-nav-list>
               <embryo-SidebarMenu *ngFor="let item of menuItems.getMainMenu()" [item]="item"></embryo-SidebarMenu>
           </mat-nav-list>
       </mat-sidenav>
      <mat-sidenav class="em-sidebar" #paymentSidenav [(opened)]="embryoService.paymentSidenavOpen" position="end" mode="over" >
         <embryo-PaymentDetailSideBar></embryo-PaymentDetailSideBar>
      </mat-sidenav>
         <ngx-toasta></ngx-toasta>
         <HeaderTwo></HeaderTwo>
      <div class="main">
         <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
      <FooterOne></FooterOne>
   </mat-sidenav-container>
</div>
