<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap" *ngIf="products && products.length > 0">
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="{{lg}}" fxFlex.xl="{{xl}}" *ngFor="let product of products; let i=index; trackBy: trackByObjectID">
     <mat-card class="product-card" *ngIf="gridLength && (i<gridLength)">
      <a class="p-link" [routerLink]="['/shop', product?.id]">
        <img width="626" height="800" mat-card-image [src]="product?.image" alt="Photo of a Shiba Inu">
      </a>
        <mat-card-content class="product-content relative">
           <h5><a [routerLink]="['/shop', product?.id]" class="title-link">{{product?.name}}</a> </h5>
           <div>
              <div fxFlex fxLayoutAlign="space-between">
                 <h6 class="accent-color">{{product?.price | currency: currency}}</h6>
              </div>
           </div>
           <div class="m-icon">
               <button mat-fab [routerLink]="['/shop', product?.id]"><i class="material-icons">manage_search</i> </button>
           </div>
        </mat-card-content>
     </mat-card>
     <!-- Multiple show home grid -->
     <mat-card class="product-card" *ngIf="!gridLength">
        <a class="p-link" *ngIf="product?.id" [routerLink]="['/shop', product?.id]">
          <img width="626" height="800" mat-card-image [src]="product?.image" alt="Photo">
        </a>
        <a class="p-link" *ngIf="!product?.id" [routerLink]="['/shop/17']">
          <img width="626" height="800" mat-card-image [src]="product?.image" [ngClass]="{ transparent: !loaded }" (load)="onLoad()" alt="Photo">
        </a>
        <mat-card-content class="product-content relative">
           <h5><a *ngIf="product?.id" [routerLink]="['/shop', product?.id]" class="title-link">{{product?.name}}</a> </h5>
           <h5><a *ngIf="!product?.id" [routerLink]="['/shop/17']" class="title-link">{{product?.name}}</a> </h5>
           <div>
              <div fxFlex fxLayoutAlign="space-between">
                 <h6 class="accent-color">{{product?.price | currency: currency}}</h6>
              </div>
           </div>
            <div class="m-icon">
                <button class="button-style" matTooltip="Details" mat-fab [routerLink]="['/shop', product?.id]"><i class="material-icons">manage_search</i> </button>
                <button class="button-style" matTooltip="Buy Now" mat-fab (click)="purchase(product?.squareup_url)"><i class="material-icons">shopping_cart</i> </button>
            </div>
        </mat-card-content>
     </mat-card>
  </div>
</div>

